h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: $_font_family_h;
  font-weight: bold;
  margin: 0 0 $_;

  small, .small {
    font-size: 75%;
    font-weight: normal;
    line-height: 1;
  }
}

h1, .h1 {
  @include _($_font_size_h1);
}

h2, .h2 {
  @include _($_font_size_h2);
}

h3, .h3 {
  @include _($_font_size_h3);
}

h4, .h4 {
  @include _($_font_size_h4);
}

h5, .h5 {
  @include _($_font_size_h5);
}

h6, .h6 {
  @include _($_font_size_h6);
}

p, .text {
  margin: 0 0 $_;
}

.large {
  @include _($_font_size_large);
}

small, .small {
  @include _($_font_size_small);
}

a {
  color: $_link_color;
  text-decoration: none;

  &:active,
  &:focus,
  &:hover {
    color: darken($_link_color, 12.5%);
    text-decoration: underline;
  }
}

hr {
  border: 0;
  border-top: .1rem solid $_color_light;
  margin: 0 0 ($_ - .1rem);
}

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}

.text-capitalize {
  text-transform: capitalize;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-lowercase {
  text-transform: lowercase;
}