$_color_black: #000 !default;
$_color_darker: #333 !default;
$_color_dark: #555 !default;
$_color_gray: #808080 !default;
$_color_light: #bbb !default;
$_color_lighter: #eee !default;
$_color_white: #fff !default;

$_color_primary: #48c !default;
$_color_secondary: #f7f7f7 !default;
$_color_danger: #d55 !default;
$_color_info: #5bd !default;
$_color_success: #5b5 !default;
$_color_warning: #d55 !default;