.slideshow {
  margin: 0 0 $_;
  overflow: hidden;

  > :last-child {
    margin-bottom: 0;
  }

  .paginator {
    @include position(absolute, null ($_ * 3) 0);

    padding: ($_ / 2);
    text-align: center;
    z-index: 1;

    button {
      background: none;
      border: none;
      cursor: pointer;
      padding: 1rem;
      position: relative;

      &.active::before {
        background: $_body_color;
      }

      &::before {
        @include position(absolute, 0);

        border: .1rem solid $_body_color;
        border-radius: 50%;
        content: '';
        margin: .5rem;
      }
    }
  }

  .pager {
    @include position(absolute, 0);

    pointer-events: none;

    .next,
    .previous {
      @include position(absolute, 0 null);

      background: none;
      border: 0;
      padding: 0;
      pointer-events: auto;
      width: $_ * 3;
      z-index: 1;

      &:focus,
      &:hover {
        outline: none;

        &::before,
        &::after {
          color: $_body_background;
        }
      }

      &::before,
      &::after {
        @include _($_font_size_h1);
      }
    }

    .next {
      @include border-left-radius(0);

      right: 0;

      &:focus,
      &:hover {
        background-image: linear-gradient(to left, fade-out($_body_color, .5), fade-out($_body_background, .9));
      }
    }

    .previous {
      @include border-right-radius(0);

      left: 0;

      &:focus,
      &:hover {
        background-image: linear-gradient(to right, fade-out($_body_color, .5), fade-out($_body_background, .9));
      }
    }
  }

  .js & {
    border: .1rem solid $_color_light;
    border-radius: .4rem;
    position: relative;

    .slides > * {
      @include position(absolute, 0);

      display: none;

      &.active {
        display: block;
        margin: 0;
        position: static;
      }

      &.exiting {
        position: absolute;
      }
    }
  }
}
