@import '~bourbon/core/bourbon';
@import '~bourbon-neat/core/neat';
@import '~normalize-scss/sass/_normalize';

@import '~baseline-scss/src/scss/variables';
@import '~baseline-scss/src/scss/mixins';

@mixin font-awesome($content: '') {
  content: $content;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: inherit;
  font-family: FontAwesome;
  line-height: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$_color_primary: #369;
$_color_light: #ddd;
