@import 'baseline';

@include normalize();

@import '~baseline-scss/src/scss/regularize';
@import '~baseline-scss/src/scss/components';
@import '~baseline-scss/src/scss/content';

.container {
  @include grid-container();

  margin: 0 auto;
  max-width: 72rem + 2 * map-get($neat-grid, gutter);

  @include grid-media($md-neat-grid) {
    max-width: 96rem + 2 * map-get($md-neat-grid, gutter);
  }

  @include grid-media($lg-neat-grid) {
    max-width: 120rem + 2 * map-get($lg-neat-grid, gutter);
  }

  @include grid-media($xl-neat-grid) {
    max-width: 144rem + 2 * map-get($xl-neat-grid, gutter);
  }
}

.margin-bottom {
  margin-bottom: $_;
}

body {
  background: $_color_primary;
  padding: ($_ / 2) 0;
}

p {
  margin: 0 0 ($_ / 2);
}

@media print {
  body {
    background-color: $_color_white;
    color: $_color_black;
    font-family: $_font_family_serif;
    font-size: 10pt;
  }

  #nav, #main { display: none !important; }

  #print_view {
    display: block !important;

    .print-item > div {
      &.army-rules,
      &.magic-items,
      &.special-rules,
      &.spells {
        @include prefixer(column-count, 2, ('webkit', 'moz'));
        @include prefixer(column-gap, 2em, ('webkit', 'moz'));
        @include prefixer(orphans, 3, ('webkit', 'moz'));
      }
    }

    &:empty::before {
      content: 'Please select something to print from the Print tab.';
      display: block;
      text-align: center;
    }
  }
}